<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Business Scraper</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>

    <main>
        <h1>Real-Time Business Data</h1>
        <div class="container">
            <div class="form-container">
                <form id="scrapeForm">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="searchTerm">Search Term:</label>
                            <input type="text" id="searchTerm" name="search_term" required
                                placeholder="Enter a search term">
                        </div>
                        <div class="form-group">
                            <label for="total">Total:</label>
                            <input type="number" id="total" name="total" required
                                placeholder="Enter total number to scrape">
                        </div>
                    </div>
                    <button type="submit"><i class="fas fa-search"></i> Start Scraping</button>
                </form>
            </div>
            <div class="table-container">
                <div class="table-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Website</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Facebook</th>
                                <th>Instagram</th>
                                <th>Twitter</th>
                                <th>LinkedIn</th>
                            </tr>
                        </thead>
                        <tbody id="dataTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
    </main>

</body>

</html>